*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general settings */

#container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* main */
main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* button */
.button {
    width: 40px;
    height: 40px;
    background-color: antiquewhite;
    border-radius: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
}

.button.before {
    top: 0; 
    left: 50%;
    transform: translate( -50%, 10%);
}

.button.next {
    bottom: 5px; 
    left: 50%;
    transform: translate( -50%, 0);
}

/* cotainer */
#container {
    width: 1000px;
    height: 500px;
    position: relative;
}

.thumb {
    width: 200px;
    height: 500px;
    position: relative;
}

.thumb_items img {
    width: 100%;
    height: 100px;
}

.thumb_items {
    width: 100%;
    height: 100px;
}

.text {
    color: #ccc;
    text-align: end;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

/* Utility */
.active {
    display: block;
}

.hidden {
    display: none;
}
.evidence {
    border: 4px solid #009abd;
}

.button:hover {
    color: #555;
    cursor: pointer;
}