*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general settings */

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
[class ^= img_ ] {
    width: 800px;
    height: 500px;
    border: 1px solid #ccc;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

.img_1 {
    background-image: url(../img/01.webp);
}

.img_2 {
    background-image: url(../img/02.webp);
}

.img_3 {
    background-image: url(../img/03.webp);
}

.img_4 {
    background-image: url(../img/04.webp);
}

.img_5 {
    background-image: url(../img/05.webp);
}
*/
/* main */
main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* button */
.button {
    width: 40px;
    height: 40px;
    background-color: antiquewhite;
    border-radius: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
}

.button.before {
    top: 0; 
    left: 50%;
    transform: translate( -50%, -50%);
}

.button.next {
    bottom: 5px; 
    left: 50%;
    transform: translate( -50%, 50%);
}


/* Puoi comunque adattare al wrapper il tag img, forzando height e width e sfruttando l'object fit  */

/* cotainer */
#container {
    object-fit: contain;
    position: relative;
    border: 1px solid #555;
}

/* Single item */
.item {
    width: 1000px;
    height: 400px;
    display: none;
}

/* Utility */
.active {
    display: block;
}

.hidden {
    display: none;
}
.button:hover {
    color: #555;
    cursor: pointer;
}